@import "tailwindcss";
@plugin "daisyui";

html {
  font-family: "M PLUS Rounded 1c", "twemoji", serif;
  font-weight: 400;
  font-style: normal;
  color: oklch(0.372 0.044 257.287); /* slate-700 */
}

html, body {
  height: 100%;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
}

body footer, body p, body span, a, body dl, h1, h2, h3, h4, h5, h6, body li {
  transform: rotate(0.03deg);
  -moz-transform: rotate(0.03deg);
  -ms-transform: rotate(0.03deg);
  -o-transform: rotate(0.03deg);
  -webkit-transform: rotate(0.03deg);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

