---
import Navigation from "./Navigation.astro";

interface Props {
  title?: string
}

const { title = "" } = Astro.props;
---
<header class="p-2 bg-sky-200">
  <div class="text-center text-sky-600 font-bold text-4xl mb-3">
    {title}
    <slot />
  </div>

  <nav>
    <Navigation />
  </nav>
</header>
