---
interface Props {
  icon: string
  size?: string
}

const { icon } = Astro.props;
---
<div id="twemoji">
  {icon}
</div>

<script>
// @ts-ignore
twemoji.parse(document.getElementById('twemoji'));
</script>

<style>
  #twemoji {
    width: 3em;
    height: 3em;
  }

  @media (min-width: 768px) {
    #twemoji {
      width: 4.25em;
      height: 4.25em;
    }
  }
</style>